body {
  font-family: 'Assistant', sans-serif;
  background-color: rgb(29, 29, 29);
  color: rgb(236, 236, 236);
  font-variant-numeric: lining-nums;
  padding-top: 30px;
  padding-left: 50px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: bold;
}

a {
  background-color: rgb(34, 33, 44);
  color: rgb(236, 236, 236)
}

li {
  font-family: 'Zilla Slab', serif;
}